body {
  background-image: linear-gradient(rgb(88, 87, 87), white);

  min-height: 100vh;
}

.container {
  height: 10cm;
  width: 15cm;
  text-align: center;
  border-radius: 5%;
  margin-left: 11cm;
  margin-top: 3cm;
}
.container button {
  margin-top: 1%;
  height: 3cm;
  width: 4cm;
  cursor: pointer;
  color: #000;
}
@property --pink {
  syntax: pink;
}
